.header { 
    grid-area: header;
    nav{
        background-color: black;
        color:white;
        form{
            padding: 4px;
            margin: 5px;
            justify-content: center;
        mb-3{
            margin: 3px;
        }
        }
    }
    align-items: end;
   

    
}